/* útfæra */

body{
  font-family: 'Noto Sans', sans-serif;   
  max-width: 1200px; 
}

h2 {
  font-size: 36px;
  padding-top: 30px;
}

table {
  padding-top: 10px;
  width: 40%;
}

@media only screen and (max-width:
870px) {
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  table {
    text-align: start;
  }
}



